.currency-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.currency-display p:first-child {
  color: gold;
}

.currency-display p:nth-child(2) {
  color: silver;
}

.currency-display p:last-child {
  color: bronze;
}
